body{
    background:url("../img/pattern.png");
    margin:0;
}
.cv{
    font-family: Verdana;
    width: 620px;
    display:block;
    margin: 0 auto;
}
.photo{
    width: 200px;
    border:1px solid darkslategray;
    margin:0 auto;
    display:block;
}
div div{
    border-bottom:1px solid lightgray;
}
.link{
    font-style:italic;
    margin-left:50px;
    color:blue;
}
.gray{
    color:gray;
}
.center{
    text-align:center;
}
li{
    padding-left:10px;
}
.abzac{
    margin-left:50px;
}